
<script type="text/javascript">

</script>

<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",       user: current_user).html_safe %>
  <% end %>

  window.staticImages = {
    headerImage: "<%= image_url("hoot-logo-final.png") %>",
    owlImage: "<%= image_url("owl-pic.jpg") %>",
    homepageImage: "<%= image_url("waffles.jpg") %>"
  }
</script>

<main id="root">Welcome</main>
