.nav-landing {
  background-size:cover;
  min-height: 40px;
  min-width: 100%;
  background-color: transparent;
  padding: 15px 15px 15px 15px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.nav-regular {
  display: flex;
  height: 40px;
  padding: 15px 15px 15px 15px;
  position: relative;
  background-color: #d32323;
}

.hoot-logo-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.hoot-logo-container img {
  width: 70px;
  height: 60px;
  display: flex;

}

.signup {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: absolute;
  right: 150px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #f5f5f5;

}

.login {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: transparent;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: absolute;
  right: 320px;
}

.login-signup:hover {
  color: grey;
  cursor: pointer;
}

.header-logout {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: transparent;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: absolute;
  right: 100px;
  border: 2px solid #fff;
}

.header-logout:hover {
  background-color: #fff;
  cursor: pointer;
  color: #333;
}
