.main-nav-container {
  min-width: 1020px;
  z-index: 6;
  justify-content: center;
}

.main-header-container {
  z-index: 1011;
  background: #d32323;
  background-size: 1135px auto, 100%;
  padding: 12px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.main-content-wrapper {
  margin-left: -18px;
  margin-right: -18px;
  border-collapse: separate;
  border-spacing: 18px 0;
  display: table;
  min-width: 100%;
  table-layout: auto;
}

.header-button-container {
  display: flex;
  height: 47px;
  padding-left: 42px;
   // can remove!!! //
}

.nav-main-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-landing {
  background-size:cover;
  min-height: 40px;
  min-width: 82%;
  background-color: transparent;
  padding: 15px 15px 15px 15px;
  position: absolute;
  z-index: 1;
  display: flex;
}

.nav-regular {
  height: 40px;
  position: relative;
  background-color: #d32323;
  justify-content: space-between;
  width: 100%;
}

.nav-landing-container {
  display: flex;
  height: 100%;
  width: 86%;
  align-items: center;
  justify-content: flex-end;
}

.hoot-logo-container-center {
  display: flex;
  justify-content: center;
}

.hoot-logo-container-left {
  width: 993px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.hoot-logo {
  padding-right: 14px;
}

.hoot-logo-logout {
  display: flex;
  justify-content: space-between;
}
.profile-logout-container {
  display: flex;
  padding-right: 262px;
}

.profile-header-contents {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.profile-logout-container button {
  margin-left: 5px;
}

.hoot-logo-container-left button {
  display: flex;

}
.hoot-logo img {
  width: 78px;
  height: 50px;
  display: flex;
}

.login-signup-reg {
  display: flex;
  margin-right: 270px;
}

.login-no-user {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  min-width: 100px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: relative;
  right: 150px;
  border-radius: 4px;
  background: transparent;
  color: #f5f5f5;
}


.signup-no-user {
  font-size: 15px;
  font-weight: bold;
  min-width: 110px;
  text-align: center;
  line-height: 43px;
  position: relative;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #f5f5f5;
  border: 2px solid #fff;
}

.signup {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: absolute;
  right: 150px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #f5f5f5;

}


.login {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: transparent;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 8px 24px;
  position: absolute;
  right: 287px;
}

button.login:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 8px;
}

button.signup:hover {
  background-color: #ffffff;
  color: #666;;
}
.login-signup:hover {
  color: grey;
  cursor: pointer;
}

.header-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: transparent;
  min-width: 110px;
  text-align: center;
  line-height: 24px;
  padding: 11px 22px;
  right: 100px;
  border: 2px solid #fff;
}

.header-button:first-of-type {
  margin-right: 6px;
  margin-right: 6px;
}



.header-button:hover {
  background-color: #fff;
  cursor: pointer;
  color: #333;
}
