// Place all the styles related to the api/businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-main-content {
  margin-bottom: 25px;
}

.biz-index-title {
  color: #d32323;
  text-align: center;
  margin-bottom: 12px;
}

.business-index-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.business-index-item {
  width: 330px;
  height: 320px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  background: #fff;
  margin: 10px;
  padding: 12px 12px;
  position: relative;
}

.biz-index-name {
  color: #0073bb;
  font-weight: bold;
}

.biz-index-name:hover {
  text-decoration: underline;
}

.business-index-item img {
  height: 170px;
  padding-bottom: 10px;
}

.biz-content-container {
  width: 980px;
  margin: 0 auto;
  padding: 10px 40px 0 40px;

}
.biz-show-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1.3125em;
}

.biz-header-container {
  display: flex;
  align-items: center;
}
.biz-header {

  width: 500px;
  padding-right: 30px;
}

.biz-header li {
  margin-right: 6px;
  margin-top: 9px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.biz-show-title {
  display: inline;
  padding-top: 0;
  margin-bottom: 6px;
  text-shadow: 0 1px rgba(255,255,255,0.7);

  font-weight: bold;
  margin-bottom: 6px;
  font-size: 30px;
  line-height: 1.2em;
  color: #333;
}

.biz-cuisine {
  color: #0073bb;
  margin-bottom: 12px;
}

.location {
  display: flex
}

.biz-image {
  height: 250px;
  width: 250px;
  display: flex;

}
