.location-with-imgs {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}
.location-container {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  height: 370px;
  width: 300;
}

.location-container-text {
  margin: 5px;
}

.map-box {
  padding: 5px;
  background: #fff;
  display: flex;
  height: 135px;
  width: 286px;
}

.street-address {
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 4px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.first-line-address {
  flex-direction: row;
  line-height: 30px;
}

.second-line-address {
  margin-left: 22px;
}

.street-address span {
  display: block;
}

.street-address div {
  padding-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.phone {
  display: flex;
  align-items: center;
}

.first-line-address i {
  width: 20px;
}

.phone {
  font-size: 12px;
}

.phone i {
  width: 20px;
  display: flex;
  padding-right: 5px;
}

.review-button-container {
  display: flex
}

.write-review-button {
  color: white;
  border-color: #8d0005;
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  background-color: #c91400;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px #333 solid ;
  font-weight: bold;
  text-align: center;
  user-select: none;
  font-size: 14px;
  line-height: 1.28571em;
  padding: 8px 19px 9px;
  border-radius: 3px;
}

.write-review-button:hover {
  background-color: #d90007;
}

.biz-details-container {
  display: flex;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  width: 300px;
  height: 200px;
  float: right;
}

.reviews-container {
  display: flex;
  padding: 5px;
  background: #fff;
  border-top: 1px solid #ccc;
  width: 615px;
  height: 950px;
  float: left;
}

.business-index-list {
  width: 100%;
  height: 400px;
}

.hot-biz-category span {
  padding: 12px 12px 0;
  position: relative;
  color: #333;
  padding: 2px 0 2px 0;
}
