.search-map-container {
  display: flex;
  float: right;
}

#map {
  height: 100%;
  width: 100%;
  display: flex;
}

.search-map-box {
  padding: 5px;
  background: #fff;
  display: flex;
  height: 300px;
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
}
