.landing-main-content {
  height: 500px;
  background-image: image-url("waffles.jpg");
  background-size: cover;
  background-position: center;
}

.auth_nav_container {
  position: fixed;
  display: flex;
  opacity: 0;

}

.logo-title {
  height: 100px;
  width: 12%;
  margin: auto;
  background-color: transparent;
  z-index: 2;
  position: relative;
  padding-top: 80px;
}

.landing-image {
  width: 100%;
  height: 50%;
  z-index: -1;
  position: relative;


}
