.top-red-bar {
  display: flex;
}

.signup {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #a71c1c;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 6px 18px;
}

.login {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
  background-color: #a71c1c;
  min-width: 80px;
  text-align: center;
  line-height: 24px;
  padding: 6px 18px
}

.hoot-div {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
}

/* resize images */
.hoot-link-image {
  width: 100%;
  height: auto;
}

.login-signup:hover {
  color: grey;
  cursor: pointer;
}
