.reviews {
  width: 630px;;
}
.review-index-container h2 {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  display: flex;
}

.review-index {
  display: flex;
  padding-left: 7px;
  font-weight: normal;
  color: #333;
}
.single-reviews {
  display: flex;
  flex-direction: column-reverse;
}
.review-wrapper {
  padding: 0 12px 6px 0;
  min-height: 156px;
  box-sizing: border-box;
  width: 100%;
  float: right;
}
.reviews div ul li {
  margin: 0;
  padding: 18px 0;
  height: 180px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 17px;
}

.star-rating-container {
  margin: 6px 0;
  display: flex;
  flex-direction: row;
}

.star-rating-container div {
  display: flex;
  width: 110px;
  margin-right: 6px;
}

.review-date {
  display: block;
  float: left;
  color: #666;
  font-weight: normal
}

.edit-button {
  display: flex;
  float: right;
}

.user-info-container {
  float: left;
  padding: 0 15px;
  min-height: 1px;
  box-sizing: border-box;
  width: 37.5%;
}

.user-info-sidbar-container {
  float: left;
  padding: 0 15px;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 37.5%;
}
.review-profile-pic-container {
  width: 60px;
  height: 60px;
  float: left;
}

.review-profile-pic-container img {
  border-radius: 4px;
  height: 60px;
  width: 60px;
}

.user-sidebar-content {
  padding-left: 70px;
}
.review-user-name {
  color: #0073bb;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.28571em;
  font-weight: bold;
}

.user-info-container span {
  font-size: 12px;
  line-height: 1.28571em;
  font-weight: bold;
}

.fa-pencil-square-o {
  color: #0073bb;
}

.fa-trash-o {
  color: #0073bb;
  padding-right: 12px;
}

.total-review-info p {
  width: 100%;
  padding-left: 230px;
  height: 89px;
}



.star-rating-1-sm {
  background: asset-url("rating-stars.png");
  background-position: -263px -258px !important;
}

.star-rating-2-sm {
  background: asset-url("rating-stars.png");
  background-position: 0px -293px;
}

.star-rating-3-sm {
  background: asset-url("rating-stars.png");
  background-position: 0 231px;
}

.star-rating-4-sm {
  background: asset-url("rating-stars.png");
  background-position: -20px -401px;
}


.star-rating-5-sm {
  background-image: asset-url("rating-stars.png");
  background-position: 0px -401px !important;
}

.no-review-error-message {
  font-size: 24px;
  color: dimgray;
  color: dimgray;
  margin: 30px 446px;
}
