.home-search-bar {
  display: flex;
  justify-content: center;
}
.searchbar-wrapper {
  align-self: center;
  height: 40px;
  width: 100%;
  margin: 10px 225px 10px 225px;
  padding: 60px;
}

.searchbar-form {
  border-radius: 4px 0 0 4px;
  position: relative;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.searchbar-form input {
  font-size: 18px;
  padding: 9px;
}

.search-type {
  width: 500px;
  border-right: 1px solid #999;
}
.search-text-area  {
  float: right;
  width: 400px;
  padding-left: 6px;
}

.searchbar-form button {
  display: flex;
  color: white;
  border: 0;
  padding: 14px 20px 13px;
  box-shadow: none;
  background-color: #bd1f1f;
}

.searchbar-form button:hover {
  background: #bd1f1f;
}

.search-map-contai{
  width: 10px;
  height: 10px;
}

.nav-searchbar {
  width: 650px;
  margin-bottom: 2px;
}

.search-button {

  background-color: #bd1f1f;
}
