.main-search-container {
  min-height: 640px;
}

.biz-index-item {
  border-top: 1px solid #e6e6e6;
  padding-top: 17px;
  width: 630px;
  display: flex;
}

.biz-show-image {
  border-radius: 4px;
  height: 90px;
  width: 90px;
  background-size: cover;
  background-position: center;
}

.search-business-container {
  width: 630px;
  height: 171px;
}

.biz-show-categories {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 237px;
}

.biz-index-name {
  color: #0073bb;
}

.biz-show-categories span {
  width: 132px;
  height: 24px;
}

.search-biz-address li {
  padding-bottom: 5px;
}

.search-biz-cuisine {
  padding-top: 11px;
}

.star-rating-search-1 {
  background: asset-url("rating-stars.png");
  background-position: 0px -215px;
}
.star-rating-search-2 {
  background: asset-url("rating-stars.png");
  background-position: -25px -215px;
}
.star-rating-search-3 {
  background: asset-url("rating-stars.png");
  background-position: 0px -119px;
}
.star-rating-search-4 {
  background: asset-url("rating-stars.png");
  background-position: 0 -168px;
}
.star-rating-search-5 {
  background: asset-url("rating-stars.png");
  background-position: 0px -215px;
}
