

.biz-index-item {
  border-top: 1px solid #e6e6e6;
  padding-top: 17px;
  width: 400px;
}

.biz-show-image {
  border-radius: 4px;
  height: 90px;
  width: 90px;
}

.search-business-container {
  width: 400px;
}
