// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-header {
  width: 100%;
  background-color: #d32323;
  height: 60px;
}

.session-header img {
  margin: auto;
  width: 8%;
  height: 100%;
}

.hoot-link {
  align-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
}

.signup-wrapper {
  padding-left: 120px;
  padding-top: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.session_form_container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.login-form {
  width: 350px;
}
.header-login-hoot {
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 6px;
  color: #d32323;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;

}

.subheader-text {
}

.submit-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #d32323;
  width: calc(100% - 36px);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: 18px 18px 18px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
}

.login-input {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(100% - 36px);
  margin: 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
}

::placeholder {
  color: grey;
}

.signup-link {
  font-weight: bold;
}

.alternate-login-signup {
  font-size: 11px;
  color: #999;
}

.demo-login-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #0073bb;
  width: calc(100% - 36px);
  display: flex;
  justify-content: center;
  border-radius: 3px;
  margin: 18px 18px 18px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #f5f5f5;
}

.not-member-link {
  color: #0073bb;
}

.small-closing {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.owl-pic {
  padding-top: 20px;
}
