.user-show-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px 20px 5px 232px;
}

.title-nav-content {
  padding: 12px 12px 12px 0;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  line-height: 1.3125em;
  width: 205px;
  margin: 0;
  display: block;
  height: 400px;
  float: left;
}

.user-profile-container {
  float: right;
  width: 480px;
}
.profile-text {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 21px;
  line-height: 1.28571em;
  color: #d32323;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
}

.user-profile-container div {
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
}
.user-image-container input {
  padding-bottom: 10px
}
.user-profile-img {
  border-radius: 4px;
  width: 215px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.user-input label {
  display: inline-block;
  font-weight: bold;
  margin: 0 0 6px;
  padding-right: 20px;
}

.update-name {
  margin: 13px 0 18px 18px;
  padding: 5px 9px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  font-size: 14px;
  color: #999;
}

.changes-saved-container  span {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 12px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5em;
  color: black;
  font-weight: bold;
}
